.se-text {
  position: relative;

  &.primary-header {
    font-family: var(--font-header);
    font-size: clamp(36px, 4vw, 64px);
    line-height: 1.3em;
    font-weight: 900;

    @include mobile {
      font-size: 32px;
    }
  }

  &.secondary-header {
    font-family: var(--font-header);
    font-size: clamp(24px, 3vw, 36px);
    line-height: 1.3em;
    font-weight: 700;

    @include mobile {
      font-size: 28px;
      line-height: 30px;
    }
  }

  &.section-header {
    font-family: var(--font-header);
    font-size: clamp(20px, 2vw, 32px);
    line-height: 1.3em;
    font-weight: 700;

    @include mobile {
      font-size: 24px;
    }
  }

  &.subheader {
    font-family: var(--font-body);
    font-size: clamp(14px, 1.3vw, 20px);
    line-height: 1.6em;
    font-weight: 500;

    @include mobile {
      font-size: 14px;
    }
  }

  &.small-header {
    font-family: var(--font-header);
    font-size: clamp(16px, 1.5vw, 24px);
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 700;

    @include mobile {
      font-size: 14px;
    }
  }

  &.paragraph {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &.small {
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.no-wrap {
    @include ellipsis;
  }

  &.white {
    color: var(--se-white);
  }

  &.green {
    color: var(--se-green-primary);
  }

  &.black {
    color: var(--se-black);
  }

  &.grey {
    color: var(--se-grey-primary);
  }

  &.blue {
    color: var(--se-blue-primary);
  }

  &.red {
    color: var(--se-red-primary);
  }

  &.shadow {
    text-shadow: var(--se-shadow-small);
  }

  &.bold {
    font-weight: 800;
  }
}
