.se-card {
  position: relative;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--se-shadow-medium);

  &.primary {
    background: var(--se-white);
  }

  &.secondary {
    background: var(--se-white-transparent);
  }
}
